fastapi
uvicorn[standard]
pydantic
python-dotenv

chromadb
sentence-transformers
PyMuPDF

python-multipart

google-genai
openai

sqlalchemy
psycopg[binary]

requests
beautifulsoup4
APScheduler

pytest
httpx

pwdlib[argon2]
argon2-cffi
pyjwt
google-auth
email-validator